<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder> <pattern>
            %d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
        </pattern> </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <pattern>%relative%thread%mdc%level%logger%msg</pattern>
            </layout>
        </encoder>
        <file>log.html</file>
    </appender>

    <!-- Para mostrar únicamente los logs del milestone 1, establecer el tag 'level' de SearchByTagVisitor y
    TotalTimeVisitor a 'error'. Para el resto, establecer el tag 'level' a 'debug'.-->
    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </root>

    <logger name="core.TimeTracker" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="core.TimeCounter" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="core.TrackerNode" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="core.Project" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="core.Task" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="core.Interval" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="core.DataManager" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Para mostrar únicamente los logs del milestone 2, establecer el tag 'level' de SearchByTagVisitor y
    TotalTimeVisitor a 'debug'. Para el resto, establecer el tag 'level' a 'error'.-->
    <logger name="visitor.SearchByTagVisitor" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="visitor.TotalTimeVisitor" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>
</configuration>